# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/portfolio?retryWrites=true&w=majority

# Port for running server locally
PORT=5000

# Secret key for JWT signatures
JWT_SECRET=replace_with_a_long_random_string_here

# Initial Admin Credentials (used during seed script execution)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
